*.dll
*.exe
example.tf
terraform.tfplan
terraform.tfstate
bin/
builtin/providers/marathon/test/test.tf
config/y.go
config/y.output
modules-dev/
pkg/
vendor/
website/.vagrant
website/build
website/node_modules
.vagrant/
*.backup
*.tfstate
*.log
*.bak
